.team {
  &__text {
    max-width: rem(601);
    @include mobil() {
      padding: rem(30) 0 rem(30) 0;
    }
    @include tablet() {
      padding: rem(45) 0 rem(60) 0;
    }
    text-align: center;
    .text__title {
      text-transform: uppercase;
      color: $verde-oscuro;
      font-size: rem(24);
      font-family: $font-rubik;
      @include mobil() {
        margin-top: rem(30);
        margin-bottom: rem(15);
      }
      @include tablet() {
        margin-top: rem(0);
        margin-bottom: rem(16);
      }
    }
    .text__paragraph {
      color: $gris-oscuro;
      font-family: $font-opensans;
      font-weight: 400;
      font-size: rem(16);
    }
  }
}
